table{
 
    background-color: white;
    border-radius: 8px;
    border: 1px solid #dadce0;
    box-sizing: border-box;
    overflow: hidden;
    width: 100%;   
    border-top-left-radius:34px;
    border-collapse: separate;
    border-spacing: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      
}
i.icon{
        float: right;
        color:rgb(238, 53, 53);
        cursor: pointer;
    
 }
